@media only screen and (min-width: 1025px){
    #profile{
     height: auto;
     margin-bottom: 6rem;
    }
    .about-container{
     flex-wrap: wrap;
    }
 
    .timeline{
     margin: 10px auto;
 }
 
 .timeline::after{
     left: 75px;
 }
 
 .container{
     width: 80%;
     padding-left: 80px;
     padding-right: 25px;
 }
 
 .text-box{
     font-size: 13px;
 }
 
 .text-box small{
     margin-bottom: 10px;
 }
 
 .right-container{
     left: 81px;
 }
 
 .left-container img{
     left: -68px;
 }
 
 .right-container img{
     left: -68px;
 }
 
 .left-container-arrow, .right-container-arrow{
     border-right: 15px solid #229799;
     border-left: 0;
     left: -12px;
 }
 
 .section__pic-container{
     width: 275px;
     height: 275px;
     justify-content: center;
     margin: 0 55px 8rem 353px;
 }
 .section__pic-container img{
     left: 70%;
 }
 .about-container{
     margin-top: 0;
 }
 
 .section__pic-container-1{
     justify-content: center;
     margin: 0px 0px 20px 353px;
 }
 
 #skills, .skills-details-container{
     margin-top: 2rem;
 }
 
 #profile, .section-container{
     display: block;
 
 }
 
 .arrow{
     display: none;
 }
 
 section, .section-container{
     height: fit-content;
 }
 
 
 section{
     margin:  0 5%;
 }
 

 .contact-left{
     margin-left: 220px;
 }
 
 
 }
 
 @media only screen and (min-width: 601px) and (max-width: 1024px) {
     #desktop-nav{
         display: none;
     }
     #hamburger-nav{
         display: flex;
         justify-content: space-between;
         margin: 0px 80px;
 
     }
 
     #skills, .skills-details-container{
         margin-top: 2rem;
     }
 
     #profile, .section-container{
         display: block;
 
     }
 
     .arrow{
         display: none;
     }
 
     section, .section-container{
         height: fit-content;
     }
 
 
     section{
         margin:  0 5%;
     }
 
     .section__pic-container{
         width: 275px;
         height: 275px;
         justify-content: center;
         margin: 0 55px 8rem ;
         margin: 0 55px 8rem 348px;
         border-radius: 0;
     }
     .section__pic-container img{
         left: 40%;
     }
     .about-container{
         margin-top: 0;
     }
 
     .section__pic-container-1{
         justify-content: center;
         margin: 0px 0px 20px 341px;
     }
 
     .timeline{
         margin: 10px auto;
     }
     
     .timeline::after{
         left: 82px;
     }
     
     .container{
         width: 80%;
         padding-left: 80px;
         padding-right: 25px;
     }
     
     .text-box{
         font-size: 13px;
     }
     
     .text-box small{
         margin-bottom: 10px;
     }
     
     .right-container{
         left: 74px;
     }
     
     .left-container img{
         left: -18px;
     }
     
     .right-container img{
         left: -18px;
     }
     
     .left-container-arrow, .right-container-arrow{
         border-right: 15px solid #229799;
         border-left: 0;
         left: -14.4px;
     }
 
     .menu-links{
         margin-top: 20px;
         margin-right: 120px;
         width: 800px;
     }
 
     .contact-left{
         margin-left: 150px;
     }
     
 }
 
